body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    background-image: url(/images/IMG_8211-2.JPG);
    background-repeat: no-repeat, repeat;
    background-position: center center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

nav {
    background-color: rgb(224, 12, 12);
    color: #fff;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff9900;
}

.content {
    text-align: center;
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.stacked-image {
    display: block;
    margin-bottom: 20px; /* Add spacing between images */
    justify-content: center;
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.stacked-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


/* Desktop styles */

.content {
    text-align: center;
    padding: 50px;
}

form {
    max-width: 600px; /* Adjust as needed for your design */
    margin: 0 auto;
}

/* Mobile styles using media queries */

@media screen and (max-width: 600px) {
    .content {
        padding: 20px;
    }

    form {
        max-width: 100%;
        padding: 20px;
    }
}
